<header>
	<h1><span class="greenText">S</span> <span class="yellowText">i</span> <span class="redText">g</span> <span class="greenText">N</span> <span class="yellowText">e</span> <span class="redText">t</span></h1>
	<p>{{ site.description | default: site.github.project_tagline }}</p>
	<span class="flags">
		<a href="{{ "/pages/ja/index" | relative_url }}" title="日本語"> <img src="{{ "assets/images/flags/japan.png" | relative_url }}" alt="Japanese" class="flagPic"> </a>
		<a href="{{ "/pages/en/index" | relative_url }}" title="English"> <img src="{{ "assets/images/flags/uk.png" | relative_url }}" alt="English" class="flagPic"> </a>
		<a href="{{ "/pages/zh-Hant/index" | relative_url }}" title="繁體中文"> <img src="{{ "assets/images/flags/china.png" | relative_url }}" alt="Traditional Chinese" class="flagPic"> </a>
		<a href="{{ "/pages/zh-Hans/index" | relative_url }}" title="简体中文"> <img src="{{ "assets/images/flags/hongkong.png" | relative_url }}" alt="Simplified Chinese" class="flagPic"> </a>
		<a href="{{ "/pages/id/index" | relative_url }}" title="bahasa Indonesia"> <img src="{{ "assets/images/flags/indonesia.png" | relative_url }}" alt="Indonesian" class="flagPic"> </a>
</header>
