<header>
	<h1 style="filter: drop-shadow(8px 8px 5px lightblue)">
		<img src="{{ "/assets/images/SigNet Logo2.png" | relative_url }}" style="max-height: 5%; max-width: 5%; margin-right: 15px; border-radius: 20px">
		<span class="greenText">S</span> <span class="yellowText">i</span> <span class="redText">g</span> <span class="greenText">N</span> <span class="yellowText">e</span> <span class="redText">t</span>
	<img></h1>
	<p>Signalling the Network forward, one step at a time.</p>
	<br>
	<span class="flags">
		{% for country in site.data.langNav %}
			<a href="{{ country.link }}" title="{{ country.title }}">
				<img src="{{ country.image }}" alt="{{ country.alt }}" class="flagPic"
					{% if country.link contains page.url %}
						style="border-top: 2px solid #0000ff; padding-top: 3px;"
					{% endif %}
				>
			</a>
		{% endfor %}
	</span>
	<!--<p>42</p>-->

</header>
