<header>
  <h1><span class="greenText">S</span> <span class="yellowText">i</span> <span class="redText">g</span> <span class="greenText">N</span> <span class="yellowText">e</span> <span class="redText">t</span></h1>
  <p>{{ site.description | default: site.github.project_tagline }}</p>
  <a href="google.com"><img src="assets/images/flags/japan.gif" alt="Japanese"></a>
  <a href="google.com"><img src="assets/images/flags/uk.gif" alt="English"></a>
  <a href="google.com"><img src="assets/images/flags/china.gif" alt="Traditional Chinese"></a>
  <a href="google.com"><img src="assets/images/flags/hongkong.gif" alt="Simplified Chinese"></a>
  <a href="google.com"><img src="assets/images/flags/indonesia.gif" alt="Indonesian"></a>
</header>
