---
---

@import "{{ site.theme }}";

.blueText
{
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojMTAwQTU0OyIgLz48c3RvcCBvZmZzZXQ9Ijk5JSIgc3R5bGU9InN0b3AtY29sb3I6Izk1Q0JGMTsiIC8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgZmlsbD0idXJsKCNncmFkaWVudCkiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIC8+PC9zdmc+);
	background-image: -webkit-gradient(linear, left top, 0deg, color-stop(0%, #100A54), color-stop(99%, #95CBF1));
	background-image: -moz-linear-gradient(0deg,#100A54 0%,#95CBF1 99%);
	background-image: -webkit-linear-gradient(0deg,#100A54 0%,#95CBF1 99%);
	background-image: -o-linear-gradient(0deg,#100A54 0%,#95CBF1 99%);
	background-image: -ms-linear-gradient(0deg,#100A54 0%,#95CBF1 99%);
	background-image: linear-gradient(0deg,#100A54 0%,#95CBF1 99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position:relative;
	display:inline-block; /*required*/
}

.yellowText
{
	color: yellow;
}

.redText
{
	color: red;
}

img.iconPic
{
	max-width: 5%;
	max-height: 5%;
	/* positioning code */
	position: relative;
	top: 7px;
	/* top: 123px controls how far down it is*/
}

img.flagPic
{
	max-width: 3%;
	max-height: 3%;
}

nav
{
	ul
	{
		font-size: 18px
	}
}

// *** inherit the nav bar properties ***
div.nav {
  width: 230px;
  position: fixed;
  top: 220px;
  left:50%;
  margin-left:-580px;
  text-align: right;

  ul {
    list-style: none;
    list-style-image:none;
    font-size: 18px;
    line-height:24px;

    li {
      padding: 5px 0px;
      line-height: 16px;

      &.tag-h1 {
        font-size: 1.2em;

        a {
          font-weight: bold;
          color: #333;
        }

        + .tag-h2 {

        }
      }

      &.tag-h2 {

        + .tag-h1 {
          margin-top:10px;
        }
      }
    }

    a {
      color: #666;

      &:hover { color: #999; }
    }
  }
}
// *** inherit the nav bar properties ***

header
{
	padding-bottom: 20px;
}
