---
---

@import "{{ site.theme }}";

.greenText
{
	color:green;
}

.yellowText
{
	color:yellow;
}

.redText
{
	color:red;
}

img.iconPic {
  max-width:5%;
  max-height:5%;
  /* positioning code */
  position: relative;
  top: 5px;
}
