---
---

@import "{{ site.theme }}";

.greenText
{
	color: green;
}

.yellowText
{
	color: yellow;
}

.redText
{
	color: red;
}

img.iconPic
{
  max-width: 5%;
  max-height: 5%;
  /* positioning code */
  position:  relative;
  top:  7px;
  /* top:  123px controls how far down it is*/
}

img.flagPic
{
	max-width: 3%;
	max-height: 3%;
	text-align: right;
}

nav
{
	ul
	{
		font-size: 18px
	}
}
